{% load static %}
{% load textblocks %}
{% load url from future %}
{% for textblock in textblocks %}
	{% if can_edit %}
		{% spaceless %}
		<div>
    		<div class="textblock edit_mode_listener draggable" id="textblock_{{textblock.pk}}" title="{{textblock.get_name}}" _id="{{textblock.pk}}">
    			<div class="textblock_drop_point" _position="{{textblock.position}}" _order="{{textblock.sort_order}}" _id="{{textblock.pk}}">&#160;</div>
    			<a name="textblock_{{textblock.position}}"></a>
    			<div class="editlink edit_mode_listener">
    				<a href="{{textblock.get_edit_url}}" onclick="_textblock_edit({{textblock.pk}},'{% url "textblock_edit" textblock.pk %}'); return false;">
                    <img src='{% static "icon_change.gif" %}' title="{{_("edit")}}"/></a>
    			</div>
    			{% if textblock.html %}
    				{% parse_as_template textblock context %}
    			{% else %}
    				{{_("Empty textblock")}}
    			{% endif %}
    		</div>
		</div>
		{% endspaceless %}
	{% else %}
		{% if textblock.html %}
			<div class="textblock">
				{% parse_as_template textblock context %}
			</div>
		{% endif %}
	{% endif %}
{% endfor %}
{% if can_edit %}
    <div class="textblock_drop_point" _position="{{position}}" _order="0" _id="0">&#160;</div>
{% endif %}
{% include "_textblock_creator.html" %}
